[contenteditable]{
    outline: 0px solid transparent;
}
body{
    margin: 0%;scroll-behavior: smooth;
    animation: loading 2s;
}
@keyframes loading {
    from{
        opacity: 0;
        transform: translate(-10deg);
    }  
    to{
        opacity: 1;
        transform: translate(0);
    }  
}
.one{
    height:auto;
    background-image: url('../assets/background/background.svg');
    background-size: 150%;
    display: grid;
    background-position: left;
    animation: anime 75s linear 0s infinite normal ;
    color: white;padding-bottom: 20px;
    grid-template-columns: 0.5fr 0.35fr 0.3fr 0.01fr 0.4fr 0.27fr  0.27fr  0.27fr  0.27fr  0.27fr  0.27fr 0.27fr  0.27fr  0.27fr  0.27fr  0.27fr;
    justify-content: space-evenly;  
}
@keyframes anime{
    0% {
        background-position: right;
    }
}
.c1{
    text-align: center;
    padding-top: 35px;
}
.c2{
   
   padding-top: 20%;
    font-size:20px;
    color: white;
}
.sb{
    width: 102px;
    height:30px;
}
.sb:hover{
    background-color: lightblue;
}
#time{
    color: rgb(255, 230, 0);
}
.c3{
    padding-top: 29px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.line{ 
    border-left: 2px solid white;
    height: 75px; 
}
#deg,#hum,#pre,#fah{
    font-size: 25px;
}
.c5{padding-top: 29px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.c6{
    text-align: center;
    width: 50px;
    height: 225.4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.c7{width: 50.37px;height: 221.9px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (max-width:1100px){
    .one{
        display: flex;
        flex-wrap: wrap;
        background-size: cover;
        justify-content:space-around;padding-left: 10px;
       
    }
    .c4{
        padding-left: 20px;
        width:10px
    }
    .c2{
        width:120px;padding-top: 20px;
    }
}
@media screen and (max-width:600px){
    .one{ 
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;padding-left: 10px;       
    }
    .c4{
        padding-left: 20px;
        width:10px
    }
    .c2{
        width:120px;padding-top: 20px;
    }
}
.two{
    border-radius:15px ;
    height: auto;
    padding-bottom:35px ;
    background: linear-gradient(rgb(0, 255, 149),rgba(40, 40, 109, 0),rgba(250, 249, 249, 0.959));
    background-size: contain;
}
.a1{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.75fr;
    padding-right: 20px;
    align-items: center;
    text-align: center;
}
.b1{
    align-items: center;
    text-align: end;
}
.b2{
    text-align: end;
    padding-top: 10px;
}
#sun,#snow,#rain{
    position: relative;
    transform: translate(0,30%);  
}
#sb:hover{
    background-color:lightblue
}
#sb{
    width: 30px;
}
@media screen and (max-width:700px){
    .a1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2;
        text-align: center;
    }
    .b1,.b2{
        text-align: center;
    }
}
.a22{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.a2{
    display: flex;position: relative;
    column-gap: 1.5px;max-width: 1380px;
    overflow-x: scroll;overflow-y: hidden;scroll-behavior: smooth;  
}
#arrow-left,#arrow-right{
    min-width: 60px;
    position: inherit;
    top:75px;
    height:25px;  
    border-radius: 50px;
    cursor: pointer;
    transform: rotate(90deg);
}
#arrow-left::before,#arrow-left::after{
    content: "";
    position: absolute;
    top:25%;
    left:50%;
    border: 6px solid lightseagreen;
    height: 20px;
    width:20px;
    transform: translate(-50%,-50%)rotate(45deg);
    border-top:transparent;
    border-left: transparent;
    animation: arrow 1s ease-in-out forwards infinite ;
}
#arrow-left::after{
    animation-delay:0.2s ;
    top:5%
}
#arrow-right::before,#arrow-right::after{ 
    content: "";
    position: absolute;
    top:5%;
    left:50%;
    border: 6px solid lightseagreen;
    height: 20px;
    width:20px;
    transform: translate(-50%,-50%)rotate(45deg);
    border-bottom:transparent;
    border-right: transparent;
    animation: arrow1 1s ease-in-out reverse infinite ;
}
#arrow-right::after{
    animation-delay:0.2s ;
    top:25%
}
@keyframes arrow{
    0%{opacity:0}
    30%{opacity: 1;}
    60%{opacity: 1;}
    100%{opacity: 0;top:90%}
}
@keyframes arrow1{
    0%{opacity:0}
    30%{opacity: 1;}
    60%{opacity: 1;}
    100%{opacity: 0;top:90%}
}
.a2b{
    min-width: 245px;
    height: 150px;
    background-image: url('../assets/cities/newyork.svg');
    background-color: black;
    background-size:cover;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns:1fr 1fr;
    justify-content: flex-start;
    font-family: fantasy;
    color: whitesmoke;
    padding: 15px;
    line-height: 200%;
    border-radius: 15px;
    transition: 1.5s;
    animation: block 2s;
}
div.a2b:hover{
    transform: scale(0.9);
    box-shadow: 8px 6px 6px rgb(31, 30, 30);
    z-index: 2;
}
.a2b1{
    width: 100px;
}
.a2b2{
    text-align:center;
}
.a3{
    display: grid;
    height: auto;
    padding-right: 25px;
    padding-left: 30px;
    font-size: 20px;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;   
}
#a32,#a31{
    height:auto; 
}
#a31{
    font-size: 25px;
}
#a32{
    text-align: end;
}
@media screen and (max-width: 700px){
    .a3{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;    
        gap: 0%;
    }
    #a32{
        justify-content: center;text-align: center;
    }
}
.a4{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
    font-style: normal;
    font-family: sans-serif;
    font-size: 100%;  
}
.a4b{
    border-radius: 15px;
    width: 250px;
    height: 50px;
    background-color: rgb(230, 230, 219);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    font-family: fantasy;
    color: rgba(0, 0, 0, 0.726);
    padding: 15px;
    line-height: 200%;
    padding-bottom: 25px;
    transition: 1.5s;
    animation: block 1s;
}
@keyframes block {
    from{opacity: 0;
    transform:rotate(10deg);}
    to{opacity: 1;
    transform: rotate(0deg);}    
}
div.a4b:hover{
    transform: scale(1.2);
    box-shadow: 4px 6px 3px rgb(0, 0, 0);
    z-index: 2;
}
.a4b1{
    width:170px;
}
.a4b2{
    text-align: end;
    align-items: center;
}
#continentSort,#temSort{
    filter:brightness(0);
}